<body>
<h2>Editing Book</h2>
<div class="form">
	<%= form_for(@book) do |f| %>
	<% if @book.errors.any? %>
	<div class="errors-box">
		<div class="errors-header"><%= @book.errors.count %>errors prohibited this book from being saved:</div>
		<div class="error-messages">
		<ul>
			<% @book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
		</div>
	</div>
	<% end %>
	<div class="form-field">
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</div>
	<div class="form-field" >
		<%= f.label :body, "Body" %>
		<%= f.text_area :body %>
	</div>
	<div class="form-field" >
		<%= f.submit 'Update Book', class: "submit-btn" %>
	</div>
	<% end %>
</div>
<div class="page-btn">
<%= link_to "Show", book_path(@book.id), class: "show-btn btn" %>
<p>|</p>
<%= link_to "Back", books_path, class: "back-btn btn" %>
</div>
</body>


